@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');
#root {
  @apply max-w-screen-2xl my-0 mx-auto p-8;
}

html,
body {
  @apply scroll-smooth bg-primary-background overflow-hidden;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

/** Transparent Scroll Bar **/
.transparent-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  &::-webkit-scrollbar {
    width: 0px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border: 1px solid transparent;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

.input {
  @apply h-11 text-sm text-primary-black font-semibold bg-primary-white w-full transition-all duration-300;

  &:focus {
    outline: none;
  }

  &::placeholder {
    @apply text-primary-grey;

    &:hover {
      @apply opacity-80;
    }
  }
}

.feeds-holder {
  @apply bg-primary-backdrop p-8 rounded-t-3xl;

  .inner-holder {
    @apply flex flex-wrap gap-9 mt-8 pb-6 overflow-auto;
    height: calc(100vh - 10rem);
  }

  .search-input {
    @apply rounded-full  pl-11;

    &:hover {
      @apply opacity-80;
    }
  }
}
.feeds-card {
  @apply h-[452px] w-[31%] rounded-xl bg-primary-white relative;
  box-shadow: 0px 8px 16px -4px rgba(52, 132, 120, 0.3);

  img {
    @apply rounded-t-2xl;
  }

  .text {
    @apply text-sm text-primary-black font-semibold;
  }

  .time-dot {
    @apply w-1 h-1 rounded-lg bg-primary-grey;
  }
}

.button {
  @apply h-11 bg-primary-green rounded-full text-primary-white flex justify-center items-center text-sm font-semibold outline-none focus:outline-none duration-300 px-5;

  &:hover {
    @apply opacity-75;
  }

  &:active {
    @apply opacity-60 outline-none;
  }

  &:disabled {
    @apply cursor-not-allowed opacity-50;
  }
}

.empty-text {
  @apply text-primary-black font-semibold flex flex-col justify-center items-center w-full;
}

.form-holder {
  @apply w-full;

  .card {
    @apply bg-primary-backdrop p-8 rounded-3xl w-1/2 mx-auto mt-8;

    .header {
      @apply text-heading1 text-primary-black font-semibold text-center pb-12;
    }

    .form-group {
      @apply mb-8 flex flex-col w-full;

      label {
        @apply block text-sm text-primary-grey pb-2 font-medium cursor-pointer;
      }

      input {
        @apply rounded-lg px-4;

        &:hover {
          @apply border-2 border-primary-green rounded-lg bg-primary-white;
        }
      }

      textarea {
        @apply h-32 p-4 text-sm resize-none rounded-lg;

        &:hover {
          @apply border-2 border-primary-green rounded-lg bg-primary-white;
        }
      }

      .invalid {
        @apply border-2 border-primary-red bg-light-red;
      }
    }
  }
}
